include ../blocks/includes
include page/page
include footer/footer
include header/header
include hamburger/hamburger
include top-menu/top-menu
include socials/socials
include contacts/contacts
include copyright/copyright
include breadcrumbs/breadcrumbs
include section-issues/section-issues
include section-contacts/section-contacts
include label/label
include checkbox/checkbox
include advantages/advantages
include section-services/section-services
include service-slider/service-slider
include section-prices/section-prices
include section-works/section-works
include section-reviews/section-reviews
include section-faq/section-faq
include faq-block/faq-block
include section-calculator/section-calculator
include calculator-panel/calculator-panel
