mixin service-slider()
  +b.service-slider&attributes(attributes)
    +e("h3").title Акции
    +e.list
      +e.item
        +e.img-container
          +e("img")(src="img/service-slider/1.svg" width="114" height="118" alt="Работаем без предоплаты").img
        +e.arrows-container
          +e("span").prev
          +e("span").next
        +e("p").name Работаем без предоплаты
      +e.item
        +e.img-container
          +e("img")(src="img/service-slider/2.svg" width="114" height="110" alt="Замерщик бесплатно").img
        +e.arrows-container
          +e("span").prev
          +e("span").next
        +e("p").name Замерщик бесплатно
