mixin section-colors()
  +b("section").section-colors&attributes(attributes)
    .grid
      +b("h2").heading._line Цветовые решения
    .grid.grid_no-sm-padding
      +e.content
        +color-solutions
