mixin socials()
  +b.socials&attributes(attributes)
    +e("a")(href="#" target="_blank").btn
      +iconsvg("vkontakte")(width="27" height="26")
    +e("a")(href="#" target="_blank").btn
      +iconsvg("google-plus")(width="27" height="26")
    +e("a")(href="#" target="_blank").btn
      +iconsvg("facebook")(width="27" height="26")
    +e("a")(href="#" target="_blank").btn
      +iconsvg("inst")(width="27" height="26")
