mixin section-faq()
  +b("section").section-faq&attributes(attributes)
    +e.content
      +b("h2").heading.__heading Частые вопросы или ЧАВО?
      +e("p").subheading У Вас есть вопросы? У нас есть ответы! Легкая сортировка по тегам поможет Вам быстро найти ответы на многие вопросы, которые касаются наших услуг по установке заборов и ограждений под ключ.
      +faq-block.__faq-block
